<ion-header>
  <button fill="clear" (click)="goToProducts()" class="logo">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <div class="search-bar">
    <ion-icon class="search" name="search-outline"></ion-icon>
    <ion-input placeholder="Search for fruits, vegetables, groce..."></ion-input>
    <img src="../../assets/images/Group3.png" alt="" />
  </div>
  <div class="cart">
    <ion-icon class="logo" name="cart-outline"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <!-- categories -->
  <div class="categories-section">
    <swiper-container class="categories" slides-per-view="auto" space-between="20">
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- Products  -->
  <div class="products-section">
    <ion-card class="product-card" *ngFor="let product of posts" (click)="goToProductdetail(product.id)">
      <div class="image-container">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.altText" />
        <div class="fav"><ion-icon name="heart-outline"></ion-icon></div>
      </div>

      <ion-card-content>
        <h2>{{product.title}}</h2>
        <div class="price-section">
          <p class="price">
            <span>{{product.currency}} {{product.price}}</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">PKR 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
  <div *ngIf="!loading && posts; else loadingTemp"></div>
  <ng-template #loadingTemp>
    <div class="loading-wrapper">
      <ion-spinner name="crescent" color="light"></ion-spinner>
      <p>Loading product details...</p>
    </div>
  </ng-template>
</ion-content>