<ion-header>
  <button fill="clear" (click)="goToProducts()" class="logo">
    <img src="assets/images/Vector copy.png" alt="">
  </button>
  <div class="search-bar">
    <img class="search" src="../../assets/images/search.png" alt="" />
    <ion-input placeholder="Search for fruits, vegetables, groce..."></ion-input>
    <img src="../../assets/images/Group3.png" alt="" />
  </div>
  <div class="cart">
    <img src="assets/images/Group 758.png" alt="">
  </div>
</ion-header>

<ion-content>
  <!-- categories -->
  <div class="categories-section">
    <swiper-container class="categories" slides-per-view="auto" space-between="20">
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- Products  -->
  <div class="products-section">
    <ion-card (click)="goToProductdetail()" class="product-card">
      <div class="image-container">
        <img src="assets/images/Rectangle 74.png" alt="Product Image" />
        <div class="fav"><img src="assets/images/Layer 11.png" alt="heart" /></div>
      </div>

      <ion-card-content>
        <h2>Fresh Carrot</h2>
        <div class="price-section">
          <p class="price">
            <span>Rp 18,000</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">Rp 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <img src="../../assets/images/Group 780.png" alt="Add to Cart Icon" />
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="product-card">
      <div class="image-container">
        <img src="assets/images/Rectangle 74.png" alt="Product Image" />
        <div class="fav"><img src="assets/images/Layer 11.png" alt="heart" /></div>
      </div>

      <ion-card-content>
        <h2>Fresh Carrot</h2>
        <div class="price-section">
          <p class="price">
            <span>Rp 18,000</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">Rp 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <img src="../../assets/images/Group 780.png" alt="Add to Cart Icon" />
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="product-card">
      <div class="image-container">
        <img src="assets/images/Rectangle 74.png" alt="Product Image" />
        <div class="fav"><img src="assets/images/Layer 11.png" alt="heart" /></div>
      </div>

      <ion-card-content>
        <h2>Fresh Carrot</h2>
        <div class="price-section">
          <p class="price">
            <span>Rp 18,000</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">Rp 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <img src="../../assets/images/Group 780.png" alt="Add to Cart Icon" />
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="product-card">
      <div class="image-container">
        <img src="assets/images/Rectangle 74.png" alt="Product Image" />
        <div class="fav"><img src="assets/images/Layer 11.png" alt="heart" /></div>
      </div>

      <ion-card-content>
        <h2>Fresh Carrot</h2>
        <div class="price-section">
          <p class="price">
            <span>Rp 18,000</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">Rp 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <img src="../../assets/images/Group 780.png" alt="Add to Cart Icon" />
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="product-card">
      <div class="image-container">
        <img src="assets/images/Rectangle 74.png" alt="Product Image" />
        <div class="fav"><img src="assets/images/Layer 11.png" alt="heart" /></div>
      </div>

      <ion-card-content>
        <h2>Fresh Carrot</h2>
        <div class="price-section">
          <p class="price">
            <span>Rp 18,000</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">Rp 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <img src="../../assets/images/Group 780.png" alt="Add to Cart Icon" />
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="product-card">
      <div class="image-container">
        <img src="assets/images/Rectangle 74.png" alt="Product Image" />
        <div class="fav"><img src="assets/images/Layer 11.png" alt="heart" /></div>
      </div>

      <ion-card-content>
        <h2>Fresh Carrot</h2>
        <div class="price-section">
          <p class="price">
            <span>Rp 18,000</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">Rp 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <img src="../../assets/images/Group 780.png" alt="Add to Cart Icon" />
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="product-card">
      <div class="image-container">
        <img src="assets/images/Rectangle 74.png" alt="Product Image" />
        <div class="fav"><img src="assets/images/Layer 11.png" alt="heart" /></div>
      </div>

      <ion-card-content>
        <h2>Fresh Carrot</h2>
        <div class="price-section">
          <p class="price">
            <span>Rp 18,000</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">Rp 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <img src="../../assets/images/Group 780.png" alt="Add to Cart Icon" />
          </button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>