<ion-header>
  <button fill="clear" (click)="goToBack()" class="logo">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <div class="search-bar">
    <ion-icon class="search" name="search-outline"></ion-icon>
    <ion-input placeholder="Search for fruits, vegetables, groce..."></ion-input>
    <img src="../../assets/images/Group3.png" alt="" />
  </div>
  <div class="cart">
    <ion-icon (click)="goToCart()" class="logo" name="cart-outline"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <!-- categories -->
  <div class="categories-section">
    <swiper-container class="categories" slides-per-view="auto" space-between="20">
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
      <swiper-slide class="category">
        <div class="category-image">
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
        <div class="bar"></div>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- Products  -->
  <div class="products-section" *ngIf="!loading && posts; else skeletonLoader">
    <ion-card class="product-card" *ngFor="let product of posts" (click)="goToProductdetail(product.id)">
      <div class="image-container">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.altText" />
        <div class="fav"><ion-icon name="heart-outline"></ion-icon></div>
      </div>

      <ion-card-content>
        <h2>{{product.title}}</h2>
        <div class="price-section">
          <p class="price">
            <span>{{product.currency}} {{product.price}}</span>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">PKR 21,000</p>
        </div>
        <div class="add">
          <button fill="clear" class="add-button">
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #skeletonLoader>
  <div class="products-section">
    <ion-card class="product-card" *ngFor="let i of [1,2,3,4]">
      <div class="image-container">
        <ion-skeleton-text animated style="width: 157px; height: 131px;"></ion-skeleton-text>
        <div class="fav">
          <ion-icon name="heart-outline"></ion-icon>
        </div>
      </div>

      <ion-card-content>
        <h2>
          <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
        </h2>
        <div class="price-section">
          <p class="price">
            <ion-skeleton-text animated style="width: 60px; height: 16px;"></ion-skeleton-text>
            <span class="weight">/ kg</span>
          </p>
          <p class="cut-price">
            <ion-skeleton-text animated style="width: 50px; height: 12px;"></ion-skeleton-text>
          </p>
        </div>
        <div class="add">
          <ion-skeleton-text animated style="width: 29px; height: 29px; border-radius: 10px;"></ion-skeleton-text>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ng-template>
</ion-content>