<ion-header>

  
  <div class="search">
    <!-- <ion-icon (clilk)="goToBack()" color="primary" name="chevron-back-outline"></ion-icon> -->
    <ion-item class="search-bar">
      <ion-icon name="search-outline"></ion-icon>
      <ion-input placeholder="Search for fruits, vegetables, groce..."></ion-input>
    </ion-item>
    <div class="cart">
      <ion-icon (click)="goToCart()" color="primary" name="cart-outline"></ion-icon>
      <p [hidden]="loading">{{quantity}}</p>
    </div>
  </div>


</ion-header>