<div class="footer-main">

  <ion-footer>
    <div class="footer-main">
      <div  (touchstart)="goToHome()"><ion-icon name="home-outline" [ngClass]="{ 'active-icon': isActive('/home') }"></ion-icon></div>
      <div><ion-icon (touchstart)="goToWish()" name="heart-outline" [ngClass]="{ 'active-icon': isActive('/wishlist') }"></ion-icon></div>
      <div (touchstart)="goToCart()"><ion-icon name="cart-outline" [ngClass]="{ 'active-icon': isActive('/cart') }"></ion-icon></div>
      <div><ion-icon (touchstart)="goToProfile()" name="person-outline" [ngClass]="{ 'active-icon': isActive('/profile') }"></ion-icon></div>
    </div>
  </ion-footer>

</div>