 ion-footer {
  height: 70px;
  width: 100vw;
  // padding: 29px 37px;
  z-index: 20;

  // Rounded top corners
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  // Transparent background to reveal underlying content

  // Optional shadow
  box-shadow: -1px -7px 30px -4px rgba(99, 94, 94, 0.51);
  -webkit-box-shadow: -1px -7px 30px -4px rgba(99, 94, 94, 0.51);
  -moz-box-shadow: -1px -7px 30px -4px rgba(99, 94, 94, 0.51);

  overflow: hidden; // Ensures rounded corners clip internal content
  background: #FFFFFF;

  .footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    // Optional: match rounded corners if needed
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    
    div {
      .active-icon{
        color: #4CAD73;
      }
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        width: 29px;
        height: 29px;
        color: #BDBDBD;
      }
    }
  }
}