<ion-content>
  <!-- Product Iamges  -->
  <div class="carousel">
    <div class="back-n-fav">
      <div><img class="chevron" src="assets/images/Vector copy 2.png" alt=""></div>
      <div><img class="heart" src="assets/images/heart.png" alt=""></div>
    </div>
    <swiper-container slides-per-view="1" pagination="true">
      <swiper-slide><img src="../../assets/images/Rectangle 319.png" /></swiper-slide>
      <swiper-slide><img src="../../assets/images/Rectangle 319.png" /></swiper-slide>
      <swiper-slide><img src="../../assets/images/Rectangle 319.png" /></swiper-slide>
    </swiper-container>
  </div>


  <!-- Product Details -->

  <!-- price detaail -->
  <div class="product-details">
    <div class="product-name-container">
      <div class="badge">vegetables</div>
      <h1 class="product-name">Fresh Carrot</h1>
      <h2 class="product-price">Rp 18,000 <span class="weight">/ kg</span><span class="cut-price">Rp 21,000</span></h2>
    </div>
  </div>

  <!-- priodduct info -->
  <div class="product-info">
    <div class="head">
      <h3>Description <div class="bar"></div>
      </h3>
      <h3>Nutrition facts</h3>
    </div>
    <p class="content">The carrot is a root vegetable, most commonly observed as orange in color, though purple, black,
      red, white, and yellow cultivars exist, all of which are domesticated forms of the wild carrot, Daucus carota,
      native to Europe and Southwestern Asia.</p>
  </div>

  <!-- Related Products  -->
  <div class="related-products"> 
    <h3>Related Product</h3>
    <div></div>
  </div>
</ion-content>