<ion-content>
  <div class="ellipse"></div>

  <div class="page-container">

    <div>
      <ion-button (click)="goToBack()" fill="clear" class="back-button">
        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
      <div class="header">
        <h1>Login</h1>
        <img src="assets/images/Group 767.png" alt="">
      </div>
    </div>

    <div class="form-wrapper">
      <div class="inputs">
        <!-- Email -->
        <ion-item lines="none" class="input-item">
          <div class="ladel-cont"><ion-label position="stacked">email <span>*</span></ion-label>
            <p *ngIf="errorEmail.length > 0">{{errorEmail}}</p>
          </div>
          <ion-input type="email" placeholder="yourmail@mail.com" [(ngModel)]="email" class="custom-input "></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item lines="none" class="input-item margin-top-18">
          <div class="ladel-cont"><ion-label position="stacked">password <span>*</span></ion-label>
            <p *ngIf="errorPass.length > 0">{{errorPass}}</p>
          </div>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="your password" [(ngModel)]="password"
            class="custom-input"></ion-input>
          <!-- <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" class="eye-icon"
          (click)="togglePasswordVisibility()"></ion-icon> -->
          <div class="forgot-password">
            <a>Forgot Password</a>
          </div>
        </ion-item>
      </div>


      <!-- Login Button -->
      <ion-button (click)="onLogin()" fill="clear" expand="block" class="login-btn">Login</ion-button>

      <!-- Register -->
      <div class="register-link">
        Not have an account?
        <a (click)="gotoSignip()">Register</a>
      </div>
    </div>

  </div>
</ion-content>