<ion-content>
  <div class="ellipse"></div>
  
  <div class="page-container">

  <div class="header">
    <h1>Kangsayur <img src="../../assets/images/Vector8.png" alt=""></h1>
    <img class="main-image" src="assets/images/Group 768.png" alt="">
  </div>

  <div class="buttons-section">
    <div class="g1">
      <ion-button  (click)="goToLogin()" fill="clear" expand="block" class="login-btn">Login</ion-button>
      <ion-button (click)="goToSignup()" fill="clear" expand="block" class="sign-btn">Signup</ion-button>
    </div>
    <div class="g2">
      <span class="line"></span>
      <p>Or login with</p>
      <span class="line"></span>
    </div>
    <div class="g3">
      <ion-button fill="clear" expand="block" class="google"><img src="../../assets/images/grommet-icons_google.png" alt=""> Google</ion-button>
      <ion-button fill="clear" expand="block" class="facebook"><img src="../../assets/images/Group9.png" alt=""> Facebook</ion-button>
    </div>
  </div>

  </div>
</ion-content>