<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <div>
        <span>
          Kangsayur
        </span>
        <img src="../../assets/images/Vector.png" alt="Logo" />
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="search">
    <ion-item class="search-bar">
      <img src="../../assets/images/search.png" alt="" />
      <ion-input placeholder="Search for fruits, vegetables, groce..."></ion-input>
    </ion-item>
    <img src="../../assets/images/Group.png" alt="" />
    <img src="../../assets/images/Vector1.png" alt="" />
  </div>
</ion-header>

<ion-content>
  <!-- location -->
  <div class="location">
    <div>
      <img src="../../assets/images/carbon_location.png" alt="" />
      <p>Sent to</p>
    </div>
    <div>
      <p class=".bold">Pamulang Barat Residence No.5, RT 05/ ...</p>
      <img class="down" src="../../assets/images/chevron-down.png" alt="" />
    </div>
  </div>

  <!-- slide -->
  <div class="half-bg-box">
    <div class="half-bg"></div>
    <div class="slider">
      <swiper-container slides-per-view="1.25" space-between="18">
        <swiper-slide><img src="../../assets/images/Frame 169.png" /></swiper-slide>
        <swiper-slide><img src="../../assets/images/Frame 169.png" /></swiper-slide>
        <swiper-slide><img src="../../assets/images/Frame 169.png" /></swiper-slide>
      </swiper-container>
    </div>
  </div>

  <!-- categories -->
  <div class="categories-section">
    <h2 class="categories-heading">Categories</h2>
    <swiper-container class="categories" slides-per-view="auto" space-between="20">
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
      <swiper-slide class="category">
        <div>
          <img
            src="../../assets/images/kisspng-spinach-salad-vegetarian-cuisine-vegetable-clip-ar-spinach-5a753501c985f2 1.png"
            alt="">
        </div>
        <p>Vegetables</p>
      </swiper-slide>
    </swiper-container>
  </div>
    
</ion-content>