// ionic header 

ion-header {
  background: #4CAD73;
  box-shadow: none;
  padding-bottom: 5px;

  ion-toolbar {
    --background: #4CAD73;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;

    ion-title {
      font-family: "Montserrat Alternates", sans-serif;
      font-size: 16.32px;
      font-weight: 600;

      img {
        width: 16.32px;
        height: 18.13px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 0%;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 21px;
    gap: 15px;

    .search-bar {
      ion-icon {
        height: 17px;
        color: #BDBDBD;
      }
    }

    .cart {
      position: relative;

      ion-icon {
        height: 26px;
        width: 26px;
        color: #fff;
      }

      p {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #ff6600;
        margin: 0;
        font-size: 10px;
        border-radius: 100%;
        padding: 2px 4px;
      }
    }

    ion-icon {
      height: 26px;
      width: 26px;
      color: #fff;
    }
  }

  ion-item.search-bar {
    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    padding: 0;

    ion-input {
      font-size: 12px;
      --padding-start: 0;
      --padding-end: 0;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    width: 100%;
    height: 36px;
    color: #BDBDBD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// end of ionic header

ion-content {

  // 01 location section
  .location {
    background: #4CAD73;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      img {
        width: 16px;
        height: 16px;
      }

      img.down {
        width: 20px;
        height: 20px;
      }

      p {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
      }

      p.bold {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  // end of location section

  //02 slider section
  .half-bg-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: white; // background for the right side

    .half-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 75%;
      background-color: #4CAD73;
      z-index: 0;
      clip-path: ellipse(82% 70% at 50% 12%);
    }

    .slider {
      position: relative;
      z-index: 10;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;

      swiper-container {
        width: 100%;
        display: flex;

        swiper-slide:last-child {
          padding-right: 1rem;
        }

        swiper-slide {
          padding-left: 18px;
          width: fit-content;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            background: none;
          }
        }
      }
    }
  }

  // end of slider section

  // 03 categories section
  .categories-section {
    border-bottom: 1px solid #BDBDBD;
    padding-top: 60px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 18px;
      font-weight: 600;
      color: #333333;
      margin: 0;
      padding-left: 1rem;
    }

    .categories {
      width: 100%;

      .category:first-child {
        padding-left: 1rem;
      }

      .category:last-child {
        padding-right: 1rem;
      }

      .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        width: fit-content;

        div {
          height: 53px;
          width: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgb(81, 155, 88, 20%);
          border-radius: 15px;

          img {
            border-radius: 50%;
            object-fit: cover;
          }
        }

        p {
          padding: 0;
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          max-width: 66px;
        }
      }
    }

  }

  // end of categories section

  // 04 deals section
  .deals {
    z-index: 50;
    padding-left: 0;
    padding-right: 0;
    padding-top: 21px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .head {
      padding-left: 15px;
      padding-right: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin: 0;
        font-size: 18px;
        font-family: 600;
      }

      ion-button {
        padding: 0 !important;
        margin: 0 !important;
        min-height: unset !important;
        min-width: unset !important;
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        text-transform: none;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0EB177;
        gap: 2px;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
        }
      }
    }

    swiper-container {
      padding-right: 0px;
      width: 100%;
      margin: 0;
      padding: 0;

      swiper-slide:last-child {
        padding-right: 1rem;
      }

      swiper-slide {
        padding-left: 1rem;
        margin: 0;

        ion-card {
          margin: 0;
          padding: 0;
          height: 251px;
          width: fit-content;
          box-shadow: 1px 2px 8px rgba(128, 128, 128, 0.5);
          border-radius: 10px;

          .image-container {
            position: relative;
            width: 157px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              height: 131px;
              width: auto;
            }

            div.fav {
              position: absolute;
              color: white;
              z-index: 1;
              top: 10px;
              right: 10px;
              width: 30px;
              height: 30px;
              background: rgb(0, 0, 0, 56%);
              border-radius: 9px;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                height: 20px;
                width: 20px;
              }
              .sharp{
                  color: #4CAD73;
                }
            }
          }

          ion-card-content {
            margin: 0;
            padding-left: 12px;
            padding-top: 4px;
            padding-bottom: 10px;

            h2 {
              font-size: 14px;
              font-weight: 600;
              color: #333333;
              height: 23px;
              display: flex;
              align-items: center;
            }

            .price-section {
              .price {
                display: flex;
                align-items: center;
                height: 21px;
                display: flex;
                align-items: center;

                // justify-content: center;
                span {
                  display: flex;
                  align-items: center;
                  font-size: 13px;
                  font-size: 700;
                  color: #4CAD73;
                }

                span.weight {
                  display: flex;
                  align-items: center;
                  font-size: 10px;
                  font-weight: 500;
                  color: #828282;
                }
              }

              .cut-price {
                display: flex;
                align-items: center;
                text-decoration: line-through;
                color: #BDBDBD;
                font-size: 11px;
                height: 21px;
              }
            }

            .add {
              display: flex;
              justify-content: flex-end;
              height: 28px;
              background: white;

              button {
                background: white;
                height: 29px;
                width: 29px;
                padding: 0;
                border: 1px solid #4CAD73;
                color: #4CAD73;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                ion-icon {
                  color: #4CAD73;
                  height: 20px;
                  width: 20px;
                }
              }
            }
          }
        }

        width: fit-content;
      }
    }
  }
}


// Foooter

ion-footer {
  height: 70px;
  width: 100vw;
  // padding: 29px 37px;
  z-index: 20;

  // Rounded top corners
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  // Transparent background to reveal underlying content

  // Optional shadow
  box-shadow: -1px -7px 30px -4px rgba(99, 94, 94, 0.71);
  -webkit-box-shadow: -1px -7px 30px -4px rgba(99, 94, 94, 0.71);
  -moz-box-shadow: -1px -7px 30px -4px rgba(99, 94, 94, 0.71);

  overflow: hidden; // Ensures rounded corners clip internal content
  background: #FFFFFF;

  .footer-main {
    display: flex;
    justify-content: space-between;

    // Optional: match rounded corners if needed
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    div {
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        width: 29px;
        height: 29px;
        color: #BDBDBD;
      }
    }
  }
}


.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); // translucent black
  z-index: 30;
  color: #fff;
}